.circlecontainer {
    display: flex;
    transform: translateX(22px);
}


#circlegraph {
    // height: 640px;
    width: 550px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    // scale: 0.9;
    margin-top: -30px;
    transform: translateY(28px) translateX(60px);

}

#doughnut {
    transform: translateY(300px);
}

#info {
    background-color: rgba(255, 255, 255, 0.7);
    // margin: 20px;
    width: 550px;
    border-radius: 10px;
    transform: translateX(60px) translateY(35px);
    padding: 10px;
    font-size: 17px;
    line-height: 1.6;
    color: #AF3E4D;
}