h1 {
    font-family: "Sofia", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(38, 90, 99)
}

.halfMil {
    fill: rgb(231, 203, 208);
    background-color: rgb(231, 203, 208);
}

.oneMil {
    fill: rgb(210, 139, 151);
    background-color: rgb(210, 139, 151);
}

.twentyFiveMil {
    fill: rgb(158, 88, 99);
    background-color: rgb(158, 88, 99);
}

.fiftyMil {
    fill: rgb(149, 46, 63);
    background-color: rgb(149, 46, 63);
}

.hunMil {
    fill: rgb(97, 16, 29);
    background-color: rgb(97, 16, 29);
}

.none {
    fill: grey;
    background-color: grey;
}

path {
    stroke: rgb(159, 157, 157) ;
    // fill: rgb(151, 203, 243);
}

path:hover {
    // fill:pink;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
}

svg {
    margin-left: 0;
    background-color: white;
    background-size: 100px 300px;
    border: 1px solid black;
    padding: 10px;
    height: 700px;
    width: 1050px;
}

#map-container {
    // display: flex;
    // flex-direction: column;
}

body {
    margin-left: 0;
    // background-image: url("/Users/michelleli/Downloads/bg.jpeg");
}

header {
    font-size: 50px;
    font-weight: 700;
}
#popup {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #f2eaf4;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    z-index: 9999;
}

#grid {
    display: grid;
    // grid-template-columns: repeat(2, auto);
}

#legend {
    display: flex;
}

#legend div {
    height: 15px;
    width: 100px;
}

#legend div:hover {
    border: 3px solid grey
}


.hovered {
    border: 3px solid grey;
    stroke: grey;
    stroke-width: 2px;
}

.unhovered {
    fill: white;
}

#nav  {
    display: flex;
}

#nav div {
    border: 1px solid black;
}

circle {
    fill: rgb(63, 125, 207);
    fill-opacity: 0.5;
}

.countries {
    fill: rgb(248, 242, 243);
}