h1 {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 30px;
}

h2 {
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    text-align: center;
    transform: translateY(-50px);
    color: white;
}

h3 {
    font-size: 30px;
    color: #AF3E4D;
    transform: translateY(100px) translateX(30px);
}


.one {
    fill: #F5CAC3;
    background-color: #F5CAC3;
}
.two {
    fill:  #ebaea4;
    background-color: #ebaea4;

}

.three {
    fill: #f19b9a;
    background-color: #f19b9a;
}

.four {
    fill:#e68381;
    background-color: #e68381;
}

.five {
    fill: #df716f;
    background-color: #df716f;
}

.six {
    fill: #c85e6c;
    background-color: #c85e6c;
}

.seven {
    fill: #b64b59;
    background-color: #b64b59;
}

.eight {
    fill: #b13849;
    background-color: #b13849;
    ;
}

.none {
    fill: #F6BD60;
    background-color: #F6BD60;
}

path {
    fill: #F5CAC3;
    stroke: grey ;
}

path:hover {
    filter: drop-shadow(3px 5px 2px rgba(63, 62, 62, 0.5));
}

svg {
    background-color: WHITE;
    border-radius: 20px;
    padding: 10px;
    transform: translateX(-130px) scale(0.7);
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {

    background-color: #f77ba8;
    font-family: 'Sen', sans-serif;
}

#popup {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #f2eaf4;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-family: 'Sen', sans-serif;
    font-size: 12px;
    z-index: 9999;
    line-height: 1.2;
}

#legend {
    transform: translateX(76px);
    display: grid;
    grid-template-columns: repeat(9, 74px);
    grid-template-rows: repeat(2, 18px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#legend div:hover {
    border: 3px solid grey;
    z-index: 10;
}

#legendmarkers {
    display: flex;
    justify-content: space-around;
    transform: translateX(-5px) translateY(-15px);
}

.hovered {
    border: 3px solid grey;
    stroke: grey;
    stroke-width: 2px;
    z-index: 10;
}

.unhovered {
    fill: white;
}

.sliderContainer {
    padding-left: 40px;
}

#slider {
    -webkit-appearance: none;
    border-radius: 10px;
    width: 600px;
    height: 7px;
    background: #F6BD60;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url("../assets/smile.png");
    width: 33px;
    height: 33px;
    cursor: grab;
    border-radius: 100px;
}

.markers {
    transform: translateX(75px)
}

.diagrams {
    display: flex;
    flex-wrap: none;
}

.mapDiv {
    width: 760px;
}

#chart {
    transform: translateY(200px);
    color: rgba(255, 255, 255, 0.7);
    scale: 0.9;
}

.mapfeatures{
    padding: 10px;
    transform: translateY(-100px) translateX(22px);
    border-radius: 20px;
    background-color:white;
    width: 49vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container{
    border-radius: 20px;
    width: 650px;
    height: 600px;
    margin-top: 103px;
    background-color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

#icons img{
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
}

#icons {
    display: flex;
    justify-content: right;
    margin-right: 60px;
}

h4 {
    display: block;
    font-family: 'Sen', sans-serif;
    width: 1200px;
    text-align: center;
    margin:auto;
    line-height: 1.4;
    transform: translateY(40px);
    color: white;
    font-size: 19px;
}