h1 {
    font-family: "Sofia", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(38, 90, 99)
}

.halfMil {
    fill: rgb(205, 221, 228);
    background-color: rgb(234, 241, 244);
}

.oneMil {
    fill: rgb(196, 227, 240);
    background-color: rgb(196, 227, 240);
}

.twentyFiveMil {
    fill: rgb(138, 210, 240);
    background-color: rgb(138, 210, 240);
}

.fiftyMil {
    fill: rgb(55, 180, 233);
    background-color: rgb(55, 180, 233);
}

.hunMil {
    fill: rgb(34, 114, 176);
    background-color: rgb(34, 114, 176);
}

.none {
    fill: rgb(208, 204, 204);
    background-color: grey;
}

path {
    stroke:rgb(186, 184, 184) ;
    // fill: rgb(151, 203, 243);
}

path:hover {
    // fill:pink;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
}

svg {
    // background-color: rgb(15, 18, 65);
    // background-size: 100px 300px;
    border: 1px solid white;
    border-radius: 15;
    padding: 10px;
    transform: translateX(-130px) scale(0.7);
}

body {
    background:rgb(246, 245, 245);
    // rgb(15, 18, 65)
}

#popup {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #f2eaf4;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    z-index: 9999;
}

#legend {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 15px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#legend div {
    height: 15px;
    width: 100px;
}

#legend div:hover {
    border: 3px solid grey;
    z-index: 10;
}


.hovered {
    border: 3px solid grey;
    stroke: grey;
    stroke-width: 2px;
    z-index: 10;
}

.unhovered {
    fill: white;
}

.sliderContainer {
    padding-left: 40px;
}

#slider {
    -webkit-appearance: none;
    border-radius: 10px;
    width: 500px;
    height: 7px;
    background: rgb(192, 221, 255);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(88, 108, 158);
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.markers {
    transform: translateX(75px)
}